---
http_interactions:
- request:
    method: get
    uri: https://holidayapi.pl/v1/holidays?country=GB&year=2001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"holidays":{"2001-01-01":[{"name":"New Year''s Day","country":"GB","date":"2001-01-01"}],"2001-04-13":[{"name":"Good
        Friday","country":"GB","date":"2001-04-13"}],"2001-04-16":[{"name":"Easter
        Monday","country":"GB","date":"2001-04-16"}],"2001-05-07":[{"name":"Early
        May Bank Holiday","country":"GB","date":"2001-05-07"}],"2001-05-28":[{"name":"Spring
        Bank Holiday","country":"GB","date":"2001-05-28"}],"2001-08-27":[{"name":"Summer
        Bank Holiday","country":"GB","date":"2001-08-27"}],"2001-12-25":[{"name":"Christmas
        (possibly in lieu)","country":"GB","date":"2001-12-25"}],"2001-12-26":[{"name":"Boxing
        Day (possibly in lieu)","country":"GB","date":"2001-12-26"}]}}'
  recorded_at: Tue, 02 Oct 2018 14:54:22 GMT
recorded_with: VCR 4.0.0
